/* ===============================
   Smart Resume Analyzer
   Professional Theme
================================== */

body{
    background:#f5f7fb;
    font-family:Arial,Helvetica,sans-serif;
}

/* Navbar */

.navbar{
    box-shadow:0 3px 10px rgba(0,0,0,.15);
}

/* Cards */

.card{
    border:none;
    border-radius:15px;
    transition:.3s;
}

.card:hover{
    transform:translateY(-5px);
    box-shadow:0 12px 25px rgba(0,0,0,.15);
}

/* Buttons */

.btn{
    border-radius:10px;
    transition:.3s;
}

.btn:hover{
    transform:scale(1.03);
}

/* Progress */

.progress{
    border-radius:20px;
}

.progress-bar{
    font-weight:bold;
    font-size:15px;
}

/* Badges */

.badge{
    font-size:14px;
    padding:10px 15px;
    border-radius:30px;
}

/* Tables */

.table{
    border-radius:10px;
    overflow:hidden;
}

.table th{
    text-align:center;
}

.table td{
    vertical-align:middle;
}

/* Textarea */

textarea{
    resize:none;
    border-radius:10px !important;
}

/* Footer */

footer{
    margin-top:60px;
}

/* Hero Image */

img{
    max-width:100%;
}

/* Mobile */

@media(max-width:768px){

    h1{
        font-size:32px;
    }

    .card{
        margin-bottom:20px;
    }

}